{% if items %}
    {% for item in items %}
        <li class="{{ item.classes | join(' ') }}">
            {% if item.children %}
                <button class="btn-submenu cursor-pointer" @click="toggleSubmenu($el)" aria-label="Open submenu {{item.title}}" aria-expanded="false" aria-controls="submenu-{{item.slug}}">
                    {{ item.title }}
                    <svg class="flex-none mt-1" xmlns="http://www.w3.org/2000/svg" width="11.414" height="6.415" viewBox="0 0 11.414 6.415">
                        <g id="Groupe_641" data-name="Groupe 641" transform="translate(21431.752 23737.889)">
                            <line id="Ligne_23" data-name="Ligne 23" y2="7.072" transform="translate(-21421.045 -23737.182) rotate(45)" stroke-linecap="round" stroke-width="1"/>
                            <line id="Ligne_24" data-name="Ligne 24" y1="7.071" transform="translate(-21426.045 -23732.182) rotate(135)" stroke-linecap="round" stroke-width="1"/>
                        </g>
                    </svg>
                </button>
                <ul id="submenu-{{item.slug}}" class="site-header__submenu" aria-hidden="true">
                    {% include "partials/menu.twig" with {'items': item.children} %}
                </ul>
            {% else %}
                <a href="{{ item.link }}">{{ item.title }}</a>
            {% endif %}
        </li>
    {% endfor %}
{% endif %} 