{% extends "layout.twig" %}

{% block content %}

    {# Hero #}
    <section class="relative overflow-x-clip">
        <div class="container overflow-hidden relative z-10 lg:overflow-visible lg:h-[calc(100vh-10rem)] lg:max-h-[55vw] lg:min-h-[25vw] lg:flex lg:items-center lg:justify-between lg:pb-32">
            <div class="grid gap-4 lg:w-7/12 lg:flex-none">

                {% if post.meta('introduction').accroche %}
                    <p class="text-h1 font-titling-display text-terracotta leading-none">{{post.meta('introduction').accroche}}</p>
                {% endif %}

                {% if post.meta('introduction').presentation %}
                    <h1 class="text-body-m leading-[1.4] lg:w-5/6">{{post.meta('introduction').presentation}}</h1>
                {% endif %}
                
                <div class="flex flex-col gap-2 items-start mt-2 sm:flex-row sm:items-center">
                    {% if options.bsport %}
                        {% include "components/btns.twig" with {primary: true, text: "Je réserve", url: options.bsport} %}
                    {% endif %}
                    {% if studio_page_url %}
                        {% include "components/btns.twig" with {secondary: true, text: "Découvrir le studio", url: studio_page_url} %}
                    {% endif %}
                </div>
            </div>
            <div class="pt-section">
                <div class="flex justify-center"><img src="{{theme.uri}}/src/images/tiffany-studio-selini.png" alt="Tiffany Studio Selíni" class="w-[160%] max-w-none sm:w-full md:w-2/3 lg:w-full lg:scale-[140%] lg:-translate-y-[5rem]"></div>
            </div>
        </div>
        {# Mandala #}
        <img data-parallax data-speed="20" src="{{theme.uri}}/src/images/mandala.svg" alt="" class="opacity-10 absolute w-full bottom-0 left-0 -z-10 scale-[170%] -translate-y-[45%] sm:scale-[115%] sm:-translate-y-[10%] md:scale-75 md:-translate-y-0 lg:bottom-auto lg:-top-[33vw] lg:left-auto lg:-right-[10%] lg:scale-100 lg:-translate-y-0 lg:w-2/3">
        {# BG Gradient #}
        <div class="absolute opacity-50 -z-10 w-[250vw] h-[250vw] top-1/2 left-0 -translate-x-1/3 -translate-y-1/2 lg:w-[100vw] lg:h-[100vw] lg:-translate-y-2/3" style="background: radial-gradient(50% 50% at 50% 50%, #BFA597 0%, rgba(191, 165, 151, 0.00) 100%);"></div>
    </section>


    {# Introduction #}
    {% if post.meta('introduction').introduction %}
        <section class="py-section">
            <div class="container">
                <p class="text-body-xl font-titling-subhead text-center lg:w-2/3 lg:mx-auto">{{post.meta('introduction').introduction}}</p>
            </div>
        </section>
    {% endif %}
    
    
    {# Photo #}
    <section class="pb-section">
        <div class="w-full aspect-video mask-image overflow-hidden" data-parallax data-speed="20">
            {{ function('wp_get_attachment_image', post.thumbnail.id, '2048x2048') }}
        </div>
    </section>

   
   {# Nos cours #}
    <section class="pb-section">
        <div class="container flex flex-col gap-10 md:flex-row-reverse md:items-center">
            <div class="md:w-1/2">
                <div class="lg:w-2/3 lg:mx-auto">
                    <h2 class="font-sans text-btn uppercase">Nos cours</h2>
                    {% if post.meta('cours').presentation %}
                        <p class="text-body-l mt-2 leading-tight">{{post.meta('cours').presentation}}</p>
                    {% endif %}
                    
                    {% if post.meta('cours').page_de_cours %}
                        <div class="mt-4">{% include "components/btns.twig" with {primary: true, text: "Voir les cours", url: post.meta('cours').page_de_cours } %}</div>
                    {% endif %}
                </div>
            </div>
            <div class="w-full aspect-square rounded-2xl overflow-hidden md:w-1/2">
                {{ function('wp_get_attachment_image', post.meta('cours').image, 'large', false, {'class': 'w-full h-full object-cover'}) }}
            </div>
        </div>
    </section>


    {# Mandala Steps #}
    <section class="pb-section">
        <div class="container">
            <ul class="text-center grid gap-10 md:grid-cols-3 lg:gap-6">
                <li class="flex flex-col gap-6 items-center xl:px-16">
                    <div>
                        <img src="{{theme.uri}}/src/images/mandala-step-1.svg" alt="Mandala">
                    </div>
                    <p>Lorsque vous faites du yoga une fois par semaine, votre esprit change</p>
                </li>
                <li class="flex flex-col gap-6 items-center xl:px-16">
                    <div>
                        <img src="{{theme.uri}}/src/images/mandala-step-2.svg" alt="Mandala">
                    </div>
                    <p>Lorsque vous faites du yoga deux fois par semaine, votre corps change</p>
                </li>
                <li class="flex flex-col gap-6 items-center xl:px-16">
                    <div>
                        <img src="{{theme.uri}}/src/images/mandala-step-3.svg" alt="Mandala">
                    </div>
                    <p>Lorsque vous faites du yoga tous les jours, votre vie change</p>
                </li>
            </ul>
        </div>
    </section>

    {% include "components/reviews.twig" %}
    
{% endblock %}
