{% extends "layout.twig" %}

{% block content %}

    {# Hero #}
    <section class="pb-section lg:pt-16">
        <div class="container text-center">
            <h1 class="font-titling-display text-terracotta text-h1 leading-none mb-4">Planning <br>Pilates Reformer</h1>
            <p class="md:w-2/3 xl:w-1/2 md:mx-auto">Consultez notre planning hebdomadaire pour trouver les cours qui s'intègrent parfaitement à votre emploi du temps et à vos besoins.</p>
        </div>
        {# Mandala #}
        <div data-parallax data-speed="20"><img src="{{theme.uri}}/src/images/mandala.svg" alt="" class="max-w-none -z-10 opacity-10 absolute w-[500px] -top-[350px] left-[calc(50%-250px)] md:w-[700px] md:-top-[350px] md:left-[calc(50%-350px)] lg:w-[1024px] lg:-top-[680px] lg:left-[calc(50%-512px)]"></div>
    </section>

    {# Planning #}
    {{ include('components/bsport.twig', {
        calendar_id: options.id_bsport_reformers
    })}}

    {# Réassurance #}
    <section class="pb-section relative z-10">
        <div class="container">
            <ul class="text-center grid gap-6 md:grid-cols-3 mb-10 lg:mb-16">
                <li class="flex flex-col items-center gap-6">
                    <img src="{{theme.uri}}/src/images/illu-reformers-01.svg" alt="Illu Reformers" class="w-40">
                    <p class="lg:px-16">Pensez à prendre des chaussettes antidérapantes et une serviette. En cas d’oubli, nous vendons des chaussettes sur places.</p>
                </li>
                <li class="flex flex-col items-center gap-6">
                    <img src="{{theme.uri}}/src/images/illu-reformers-02.svg" alt="Illu Reformers" class="w-40">
                    <p class="lg:px-16">Nous proposons des formules adaptées pour plusieurs séances. Pour toute demande de cours privés ou en groupes réduits, veuillez nous contacter à ce numéro <a href="tel:0661335408" class="underline">06 61 33 54 08</a>.</p>
                </li>
                <li class="flex flex-col items-center gap-6">
                    <img src="{{theme.uri}}/src/images/illu-reformers-03.svg" alt="Illu Reformers" class="w-40">
                    <p class="lg:px-16">Une équipe certifiée et passionnée et des cours de 7h45 à 20h30 pour s’adapter à tous les emplois du temps.</p>
                </li>
            </ul>
            {% if options.bsport %}
                <div class="flex justify-center">
                    {% include "components/btns.twig" with {primary: true, text: "Réserver en ligne", url: options.bsport_reformers, target_blank: true} %}
                </div>
            {% endif %}
        </div>
    </section>


    {% include "components/section-footer-link.twig" with {title: "Planning Yoga & Pilates", subtitle: "Consulter le planning de Yoga & Pilates", button_text: "Découvrir", button_url: options.pages.planning} %}
    
{% endblock %}
