<!doctype html>
<!--[if lt IE 9]><html class="no-js no-svg ie lt-ie9 lt-ie8 lt-ie7" {{ site.language_attributes }}> <![endif]-->
<!--[if IE 9]><html class="no-js no-svg ie ie9 lt-ie9 lt-ie8" {{ site.language_attributes }}> <![endif]-->
<!--[if gt IE 9]><!--><html class="no-js no-svg scroll-smooth" {{ site.language_attributes }}> <!--<![endif]-->
<head>
{% block html_head_container %}
    {% include 'partials/head.twig' %}
    {% block head %}
    {% endblock %}
{% endblock %}
</head>

<body class="{{body_class}}" data-template="layout.twig">
    {{function('wp_body_open')}}

    {% include "header.twig" %}

    <main id="content" role="main">
        {% block content %}
            Sorry, no content
        {% endblock %}
    </main>

    {% include 'footer.twig' %}

    

    {{ function('wp_footer') }}
</body>
</html>
