<!doctype html>
<!--[if lt IE 9]><html class="no-js no-svg ie lt-ie9 lt-ie8 lt-ie7" {{ site.language_attributes }}> <![endif]-->
<!--[if IE 9]><html class="no-js no-svg ie ie9 lt-ie9 lt-ie8" {{ site.language_attributes }}> <![endif]-->
<!--[if gt IE 9]><!--><html class="no-js no-svg scroll-smooth" {{ site.language_attributes }}> <!--<![endif]-->
<head>
{% block html_head_container %}
    {% include 'partials/head.twig' %}
    {% block head %}
    {% endblock %}
{% endblock %}
</head>

<body class="{{body_class}}" data-template="layout.twig">
    {{function('wp_body_open')}}

    {% include "header.twig" %}

    <div v-scope="Intro()" class="pointer-events-none" @vue:mounted="init($el)" >
        <div v-show="showIntro" class="intro__bg bg-white fixed w-full h-full top-0 left-0 z-50 flex justify-center items-center">
            <img class="w-52 opacity-0" src="{{theme.uri}}/src/images/logo-studio-selini.svg" alt="Logo Studio Selini">
        </div>
    </div>

    <main id="content" role="main" class="pt-40 relative overflow-clip">
        {% block content %}
            Sorry, no content
        {% endblock %}
    </main>

    {% include 'footer.twig' %}

    

    {{ function('wp_footer') }}
</body>
</html>
