{# 
    image: id of the image (optional)
    title: title of the section
    introduction: text
    align: left or center
 #}

<section class="pb-section lg:pt-16">
    <div class="container flex flex-col text-center items-center{% if align == "left" %} relative z-20 lg:text-left lg:items-start{% endif %}">
        <h1 class="font-titling-display text-terracotta text-h1 leading-none mb-4">{{title}}</h1>
        <p class="md:w-2/3 xl:w-1/2">{{introduction}}</p>
    </div>
    {# Mandala #}
    {% if align == "left" %}
        <div data-parallax data-speed="20"><img src="{{theme.uri}}/src/images/mandala.svg" loading="lazy" alt="" class="max-w-none -z-10 opacity-10 absolute w-[500px] -top-[350px] left-[calc(50%-250px)] md:w-[700px] md:-top-[350px] md:left-[calc(50%-350px)] lg:w-[1024px] lg:-top-[680px] lg:left-1/2"></div>
        {# BG Gradient #}
        <div class="pointer-events-none absolute z-10 opacity-50 w-[250vw] h-[250vw] top-0 left-0 -translate-x-1/3 -translate-y-1/3 lg:w-[100vw] lg:h-[100vw]" style="background: radial-gradient(50% 50% at 50% 50%, #BFA597 0%, rgba(191, 165, 151, 0.00) 100%);"></div>
    {% else %}
        <div data-parallax data-speed="20"><img src="{{theme.uri}}/src/images/mandala.svg" loading="lazy" alt="" class="max-w-none -z-10 opacity-10 absolute w-[500px] -top-[350px] left-[calc(50%-250px)] md:w-[700px] md:-top-[350px] md:left-[calc(50%-350px)] lg:w-[1024px] lg:-top-[680px] lg:left-[calc(50%-512px)]"></div>
    {% endif %}
</section>

{% if image %}
    {{include('components/img-mask.twig', {imageID: image})}}
{% endif %}